# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used in Data Science
- Show a table with the popular tools used in Data Science
- Execute some code

Some of the popular languages that Data Scientists use are:
1. English
2. Spanish
3. French

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
---
|Jupyter notebook|
|RStudio|
Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sergio